{% extends 'management/base/base.html' %}

{% load i18n %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
    {% include 'management/includes/navbars.html' %}

    {#    {% include 'management/includes/sidebar_right.html' %}#}
    {% include 'management/manager/includes/manager-sidebar.html' %}

    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="title">
                                <h4>Профиль</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Дашбоард</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Профиль администратора
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
                        <div class="pd-20 card-box height-100-p">
                            <div class="profile-photo">
                                <a
                                        href="modal"
                                        data-toggle="modal"
                                        data-target="#modal"
                                        class="edit-avatar"
                                ><i class="fa fa-pencil"></i></a>

                                <img
                                        src="{% if user.image %}{{ user.image.url }}{% endif %}"
                                        alt="avatar"
                                        class="avatar-photo"/>
                                <div class="modal fade"
                                     id="modal"
                                     tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="modalLabel"
                                     aria-hidden="true">
                                    <div
                                            class="modal-dialog modal-dialog-centered"
                                            role="document">
                                        <div class="modal-content">
                                            <div class="modal-body pd-5">
                                                <div class="img-container">
                                                    <img
                                                            id="image"
                                                            src="{% if user.image %}{{ user.image.url }}{% endif %}"
                                                            alt="Picture"
                                                    />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input
                                                        type="submit"
                                                        value="Update"
                                                        class="btn btn-primary"
                                                />
                                                <button
                                                        type="button"
                                                        class="btn btn-default"
                                                        data-dismiss="modal"
                                                >
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 class="text-center h5 mb-0">
                                <br>
                            </h5>

                            <p class="text-center text-muted font-14">
                            <h5 class="text-center h5 mb-0">
                                {% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% endif %}
                            </h5>
                            </p>

                            <div class="profile-info">
                                <h5 class="mb-20 h5 text-blue">Контактная информация</h5>
                                <ul>
                                    <li>
                                        <span>Почта:</span>
                                        {% if user.email %}{{ user.email }}{% endif %}
                                    </li>
                                    <li>
                                        <span>Номер телефона:</span>
                                        {% if user.phone %}{{ user.phone }}{% endif %}
                                    </li>
                                    <li>
                                        <span>Кафедра:</span>
                                        {% if user.departament %}{{ user.departament }}{% endif %}
                                    </li>
                                    <li>
                                        <span>Адрес:</span>

                                        {% if user.address %}{{ user.address }}{% endif %}

                                    </li>
                                </ul>
                            </div>
                            <div class="profile-social">
                                <h5 class="mb-20 h5 text-blue">Социалные сети</h5>
                                <ul class="clearfix">


                                    <li>
                                        <a
                                                href="#"
                                                class="btn"
                                                data-bgcolor="#229ED9"
                                                data-color="#ffffff"
                                        ><i class="fa fa-telegram"></i
                                        >
                                        </a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                    {% include 'management/admin/admin-modal-profile.html' %}
                </div>
            </div>
            <div class="footer-wrap pd-20 mb-20 card-box">
                DeskApp - Bootstrap 4 Admin Template By
                <a href="lalala://github.com/dropways" target="_blank"
                >Ankit Hingarajiya</a
                >
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'vendors/scripts/core.js' %}"></script>
    <script src="{% static 'vendors/scripts/script.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/process.js' %}"></script>
    <script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
    <script src="{% static 'src/plugins/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/dashboard3.js' %}"></script>
{% endblock %}