{% extends 'management/base/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

    {% include 'management/includes/navbars.html' %}

    {% include 'management/employee/includes/employee-sidebar.html' %}

    <div class="mobile-menu-overlay"></div>
    <div class="main-container">
        <div class="xs-pd-20-10 pd-ltr-20">
            <div class="title pb-20">
                <h2 class="h3 mb-0">Дашбоард {{ role }}а</h2>
            </div>

            <div class="row pb-10">
                <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                    <div class="card-box height-100-p widget-style3">
                        <div class="d-flex flex-wrap">
                            <div class="widget-data">
                                <div class="weight-700 font-24 text-dark">{{ project_count }}</div>
                                <div class="font-14 text-secondary weight-500">
                                    <a href="{% url 'management:employee-main' 'projects' %}">Проекты</a>
                                </div>
                            </div>
                            <div class="widget-icon">
                                <div class="icon" data-color="#00eccf">
                                    <a class="text-warning" href="{% url 'management:employee-main' 'projects' %}">
                                        <i class="icon-copy dw dw-folder-65"></i>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                    <div class="card-box height-100-p widget-style3">
                        <div class="d-flex flex-wrap">
                            <div class="widget-data">
                                <div class="weight-700 font-24 text-dark">{{ task_count }}</div>
                                <div class="font-14 text-secondary weight-500">

                                    <a href="{% url 'management:employee-main' 'tasks' %}">Задачи</a>

                                </div>
                            </div>
                            <div class="widget-icon">
                                <div class="icon" data-color="#00eccf">
                                    <a class="text-warning" href="{% url 'management:employee-main' 'tasks' %}">
                                        <span class="icon-copy dw dw-list3"></span>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                    <div class="card-box height-100-p widget-style3">
                        <div class="d-flex flex-wrap">
                            <div class="widget-data">
                                <div class="weight-700 font-24 text-dark">{{ other_users_count }}</div>
                                <div class="font-14 text-secondary weight-500">

                                    <a href="{% url 'management:employee-main' 'colab' %}">Группа</a>

                                </div>
                            </div>
                            <div class="widget-icon">
                                <div class="icon" data-color="#00eccf">
                                    <a class="text-warning" href="{% url 'management:manager-employee' %}">
                                        <span class="icon-copy ti-user"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                    <div class="card-box height-100-p widget-style3">
                        <div class="d-flex flex-wrap">
                            <div class="widget-data">
                                <div class="weight-700 font-24 text-dark">{{ 0 }}</div>
                                <div class="font-14 text-secondary weight-500">
                                    <a href="{% url 'management:employee_submit_completion_request_task' %}">Запросы</a>
                                </div>
                            </div>
                            <div class="widget-icon">
                                <div class="icon" data-color="#00eccf">
                                    <a class="text-warning" href="#">
                                        <span class="icon-copy ti-crown"></span>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'management/employee/includes/employee-table.html' %}

            <div class="footer-wrap pd-20 mb-20 card-box">
                Квалификационная работа
                Система управления задачами
                - сайт, созданный под руководством Устода Солиева Одилхуджы и Худойбердиева Хуршеда.
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'vendors/scripts/core.js' %}"></script>
    <script src="{% static 'vendors/scripts/script.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/process.js' %}"></script>
    <script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
    <script src="{% static 'src/plugins/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/dashboard3.js' %}"></script>
{% endblock %}