{% load static %}
<div class="left-side-bar">
    <div class="brand-logo">
        <a href="">
            <img src="{% static 'vendors/logo_black_lable.svg' %}" alt="" class="dark-logo"/>
            <img
                    src="{% static 'vendors/logo_black_lable.svg' %}"
                    alt=""
                    class="light-logo"/>
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li>
                    <a href="{% url 'management:employee-main' 'projects' %}" class="dropdown-toggle no-arrow
{% if side_dash %}active{% endif %}">
                        <span class="micon bi bi-house"></span>
                        <span class="mtext">Дашбоард</span>
                    </a>
                </li>


                <li>
                    <a href="{% url 'authenticate:employee-profile' %}"
                       class="dropdown-toggle no-arrow {% if employee_profile %}active{% endif %}">
                        <span class="micon bi bi-person-bounding-box"></span>
                        <span class="mtext">Профиль</span>
                    </a>
                </li>

                <li>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <div class="sidebar-small-cap"></div>
                </li>
                <li>
                    <a href="{% url 'authenticate:logout' %}" class="dropdown-toggle no-arrow">
								<span class="micon bi bi-door-open"></span
                                ><span class="mtext">Выйти</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>