{% extends 'management/base/base.html' %}

{% block content %}

    <div class="error-page d-flex align-items-center flex-wrap justify-content-center pd-20">
        <div class="pd-10">
            <div class="error-page-wrap text-center">
                <h1>403</h1>
                <h3> Доступ запрещен
                </h3>
                <p>
                </p>
                <div class="pt-20 mx-auto max-width-200">
                    <a href="{% url 'authenticate:logout' %}" class="btn btn-primary btn-block btn-lg">Вернутся назад</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}