{% extends 'authenticate/base/base-start.html' %}
{% load static %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <div class="login-header box-shadow">
        <div
                class="container-fluid d-flex justify-content-between align-items-center">
            <div class="brand-logo">
                <a href="base/login.html">
{#                    <img src="{% static 'vendors/images/deskapp-logo.svg' %}" alt=""/>#}
                </a>
            </div>
            <div class="login-menu">
                <ul>
{#                    <li><a href="#">О нас</a></li>#}
                </ul>
            </div>
        </div>
    </div>
    <div
            class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-7">
                    <img src="{% static 'vendors/images/login-page-img.png' %}" alt=""/>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="login-box bg-white box-shadow border-radius-10">
                        <div class="login-title">
                            <h2 class="text-center text-primary">Войти</h2>
                        </div>
                        <form method="post">
                            {% csrf_token %}


                            <div class="input-group custom">
                                <label>
                                    <input type="text"
                                           class="form-control form-control-lg"
                                           placeholder="Юсернайм"
                                           name="{{ form.username.name }}">
                                </label>

                            </div>

                            <div class="input-group custom">
                                <label>
                                    <input type="password"
                                           class="form-control form-control-lg"
                                           placeholder="Пароль"
                                           name="{{ form.password.name }}">
                                </label>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group mb-2">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Войти
                                        </button>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="input-group mb-0">
                                        <a class="btn btn-outline-primary btn-lg btn-block"
                                           href="{% url 'authenticate:register' %}">Регистрация
                                        </a>
                                    </div>
                                </div>
                            </div>

                            {#                            <div class="row">#}
                            {#                                <div class="col-sm-12">#}
                            {#                                    <div class="input-group mb-0">#}
                            {#                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In#}
                            {#                                        </button>#}
                            {#                                    </div>#}
                            {#                                    <div class="font-16 weight-600 pt-10 pb-10 text-center" data-color="#707373">OR#}
                            {#                                    </div>#}
                            {#                                    <div class="input-group mb-0">#}
                            {#                                        <a class="btn btn-outline-primary btn-lg btn-block" href="#">Register#}
                            {#                                            To Create Account</a>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'vendors/scripts/core.js' %}"></script>
    <script src="{% static 'vendors/scripts/script.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/process.js' %}"></script>
    <script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
{% endblock %}