{% extends 'authenticate/base/base-start.html' %}
{% load static %}
{% block title %}
    Register
{% endblock %}
{% block content %}
    <div class="login-header box-shadow">
        <div
                class="container-fluid d-flex justify-content-between align-items-center">
            <div class="brand-logo">
                <a href="base/login.html">
                    {#                    <img src="{% static 'vendors/images/deskapp-logo.svg' %}" alt=""/>#}
                </a>
            </div>
            {#            <div class="login-menu">#}
            {#                <ul>#}
            {#                    <li><a href="register.html"></a></li>#}
            {#                </ul>#}
            {#            </div>#}
        </div>
    </div>
    <div
            class="login-wrap d-flex align-items-center flex-wrap justify-content-center"
    >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-7">
                    <img src="{% static 'vendors/images/login-page-img.png' %}" alt=""/>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="login-box bg-white box-shadow border-radius-10">
                        <div class="login-title">
                            <h2 class="text-center text-primary">Регистрация</h2>
                        </div>

                        <script>
                            $(document).ready(function () {
                                $('input[name="is_employee"]').on('change', function () {
                                    $('input[name="is_manager"]').prop('checked', false);
                                });

                                $('input[name="is_manager"]').on('change', function () {
                                    $('input[name="is_employee"]').prop('checked', false);
                                });

                                $('form').on('submit', function (event) {
                                    event.preventDefault();
                                    var form = $(this);
                                    var formData = new FormData(form[0]);
                                    $.ajax({
                                        url: form.attr('action'),
                                        method: form.attr('method'),
                                        data: formData,
                                        processData: false,
                                        contentType: false,
                                        success: function (response) {
                                            // Handle success response here
                                        },
                                        error: function (xhr, errmsg, err) {
                                            // Handle error response here
                                        }
                                    });
                                });
                            });
                        </script>
                        <script>
                            $(document).ready(function () {
                                $('input[name="is_employee"]').on('change', function () {
                                    $('input[name="is_manager"]').prop('checked', false);
                                });

                                $('input[name="is_manager"]').on('change', function () {
                                    $('input[name="is_employee"]').prop('checked', false);
                                });

                                $('form').on('submit', function (event) {
                                    var employee_checked = $('input[name="is_employee"]').is(':checked');
                                    var manager_checked = $('input[name="is_manager"]').is(':checked');

                                    if (!employee_checked && !manager_checked) {
                                        event.preventDefault();
                                        if (confirm('Вы не выбрали роль. Продолжить?')) {
                                            // если пользователь нажал "ОК" - отправляем форму
                                            $(this).off('submit').submit();
                                        }
                                    }
                                });
                            });
                        </script>


                        <form method="post">
                            {% csrf_token %}
                            <div class="select-role">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn">
                                        {{ form.is_employee }}
                                        <div class="icon">
                                            <img src="{% static 'vendors/images/person.svg' %}" class="svg" alt=""/>
                                        </div>
                                        <span>Я</span> Сотрудник
                                    </label>
                                    <label class="btn">
                                        {{ form.is_manager }}
                                        <div class="icon">
                                            <img src="{% static 'vendors/images/briefcase.svg' %}" class="svg" alt=""/>
                                        </div>
                                        <span>Я</span> Менеджер
                                    </label>
                                </div>
                            </div>


                            <div class="input-group custom">
                                <label>
                                    <input type="text"
                                           class="form-control form-control-lg"
                                           placeholder="Имя"
                                           name="{{ form.first_name.name }}">
                                </label>

                            </div>

                            <div class="input-group custom">
                                <label>
                                    <input type="text"
                                           class="form-control form-control-lg"
                                           placeholder="Фамилия"
                                           name="{{ form.last_name.name }}">
                                </label>

                            </div>

                            <div class="input-group custom">
                                <label>
                                    <input type="text"
                                           class="form-control form-control-lg"
                                           placeholder="Юсернайм"
                                           name="{{ form.username.name }}">
                                </label>

                            </div>

                            <div class="input-group custom">
                                <label>
                                    <input type="email"
                                           class="form-control form-control-lg"
                                           placeholder="Почта"
                                           name="{{ form.email.name }}"
                                    >
                                </label>

                            </div>

                            <div class="input-group custom">
                                <label>
                                    <input type="password"
                                           class="form-control form-control-lg"
                                           placeholder="Пароль"
                                           name="{{ form.password1.name }}"
                                            {% if form.password1.required %} required {% endif %}>
                                </label>

                            </div>

                            <div class="input-group custom">
                                <label>
                                    <input type="password"
                                           class="form-control form-control-lg"
                                           placeholder="Повторить Пароль"
                                           name="{{ form.password2.name }}"
                                            {% if form.password2.required %} required {% endif %}>
                                </label>

                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group mb-2">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Регистрация
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group mb-0">
                                        <a class="btn btn-outline-primary btn-lg btn-block"
                                           href="{% url 'authenticate:login' %}">Войти
                                        </a>
                                    </div>
                                </div>
                            </div>

                            {#                            <div class="row">#}
                            {#                                <div class="col-sm-12">#}
                            {#                                    <div class="input-group mb-0">#}
                            {#                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In#}
                            {#                                        </button>#}
                            {#                                    </div>#}
                            {#                                    <div class="font-16 weight-600 pt-10 pb-10 text-center" data-color="#707373">OR#}
                            {#                                    </div>#}
                            {#                                    <div class="input-group mb-0">#}
                            {#                                        <a class="btn btn-outline-primary btn-lg btn-block" href="#">Register#}
                            {#                                            To Create Account</a>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'vendors/scripts/core.js' %}"></script>
    <script src="{% static 'vendors/scripts/script.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/process.js' %}"></script>
    <script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
{% endblock %}