{% extends 'management/base/base.html' %}
{#{% load i18n %}
{% load static %}
{% block content %}
    {#    <div class="pre-loader">#}
    {#        <div class="pre-loader-box">#}
    {#            <div class="loader-logo">#}
    {#                <img src="{% static 'vendors/images/deskapp-logo.svg' %}" alt=""/>#}
    {##}
    {#            </div>#}
    {#            <div class="loader-progress" id="progress_div">#}
    {#                <div class="bar" id="bar1"></div>#}
    {#            </div>#}
    {#            <div class="percent" id="percent1">#}
    {##}
    {#            </div>#}
    {#            <div class="loading-text">Секунду...</div>#}
    {#        </div>#}
    {#    </div>#}

    {% include 'management/includes/navbars.html' %}

    {#    {% include 'management/includes/sidebar_right.html' %}#}
    {% include 'management/includes/sidebar.html' %}

    <div class="mobile-menu-overlay"></div>

    <div class="main-container">
        <div class="xs-pd-20-10 pd-ltr-20">
            <div class="title pb-20">
                <h2 class="h3 mb-0">Дашбоард администратора</h2>
            </div>
            <div class="row pb-10">

                <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                    <div class="card-box height-100-p widget-style3">
                        <div class="d-flex flex-wrap">
                            <div class="widget-data">
                                <div class="weight-700 font-24 text-dark">{{ project_count }}</div>
                                <div class="font-14 text-secondary weight-500">
                                    <a href="#">Проекты</a>
                                </div>
                            </div>
                            <div class="widget-icon">
                                <div class="icon" data-color="#00eccf">
                                    <i class="icon-copy dw dw-folder-65"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                    <div class="card-box height-100-p widget-style3">
                        <div class="d-flex flex-wrap">
                            <div class="widget-data">
                                <div class="weight-700 font-24 text-dark">{{ managers_count }}</div>
                                <div class="font-14 text-secondary weight-500">
                                    <a href="#">Менеджеры</a>
                                </div>
                            </div>
                            <div class="widget-icon">
                                <div class="icon" data-color="#00eccf">
                                    <i class="icon-copy dw dw-user1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                    <div class="card-box height-100-p widget-style3">
                        <div class="d-flex flex-wrap">
                            <div class="widget-data">
                                <div class="weight-700 font-24 text-dark">{{ employees_count }}</div>
                                <div class="font-14 text-secondary weight-500">

                                    <a href="#">Сотрудники</a>

                                </div>
                            </div>
                            <div class="widget-icon">
                                <div class="icon" data-color="#00eccf">
                                    <span class="icon-copy ti-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                    <div class="card-box height-100-p widget-style3">
                        <div class="d-flex flex-wrap">
                            <div class="widget-data">
                                <div class="weight-700 font-24 text-dark">{{ admins_count }}</div>
                                <div class="font-14 text-secondary weight-500">
                                    <a href="#">Администраторы</a>
                                </div>
                            </div>
                            <div class="widget-icon">
                                <div class="icon" data-color="#00eccf">
                                    <span class="icon-copy ti-crown"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            {% include 'management/includes/graphics.html' %}
            {% include 'management/includes/admin-table.html' %}
            {% include 'management/includes/top.html' %}


            <div class="title pb-20 pt-20">
                <h2 class="h3 mb-0">Quick Start</h2>
            </div>

            <div class="row">
                {% for el in '123' %}
                    <div class="col-md-4 mb-20">
                        <a href="#" class="card-box d-block mx-auto pd-20 text-secondary">
                            <div class="img pb-30">
                                <img src="{% static 'vendors/images/medicine-bro.svg' %}" alt=""/>
                            </div>
                            <div class="content">
                                <h3 class="h4">Services</h3>
                                <p class="max-width-200">
                                    We provide superior health care in a compassionate maner
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="footer-wrap pd-20 mb-20 card-box">
                Soliev DIPLOMA
                <a href="" target="_blank"
                >Safarov</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'vendors/scripts/core.js' %}"></script>
    <script src="{% static 'vendors/scripts/script.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/process.js' %}"></script>
    <script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
    <script src="{% static 'src/plugins/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/dashboard3.js' %}"></script>
{% endblock %}