{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8"/>
    <title>
        {% block title %}
        {% endblock %}
    </title>


    <!-- Mobile Specific Metas -->
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/core.css' %}">


    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'src/plugins/datatables/css/dataTables.bootstrap4.min.css' %}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'src/plugins/datatables/css/responsive.bootstrap4.min.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/style.css' %}"/>


    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag("js", new Date());

        gtag("config", "G-GBZ3SGGX85");
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({"gtm.start": new Date().getTime(), event: "gtm.js"});
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "lalala://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-NXZMQSS");
    </script>


    <style>
        .login-page {
        {#background-image: url('{% static 'vendors/images/login-page-img.png' %}');#} background-size: cover;
            background-position: center;
        }
    </style>
    <!-- End Google Tag Manager -->
</head>
<body>

{% block content %}

{% endblock %}

</body>
{% block scripts %}

{% endblock %}
</html>