{% extends 'registration/base.html' %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    {% if form.errors %}
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.label }}:</li>
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
