{% extends 'management/base/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}


    {% include 'management/includes/navbars.html' %}

    {#    {% include 'management/includes/sidebar_right.html' %}#}
    {% include 'management/admin/includes/admin-sidebar.html' %}

    <div class="mobile-menu-overlay"></div>

    <div class="main-container">
        <div class="xs-pd-20-10 pd-ltr-20">
            <div class="title pb-20">
                <h2 class="h3 mb-0">Управления запросами</h2>
            </div>
            <div class="row pb-10">

                <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                    <div class="card-box height-100-p widget-style3">
                        <div class="d-flex flex-wrap">
                            <div class="widget-data">
                                <div class="weight-700 font-24 text-dark">{{ employees_count }}</div>
                                <div class="font-14 text-secondary weight-500">

                                    <a href="{% url 'management:admin-submit-project' %}">Завершит проект</a>

                                </div>
                            </div>
                            <div class="widget-icon">
                                <div class="icon" data-color="#00eccf">
                                    <a class="text-warning" href="{% url 'management:admin-submit-project' %}">
                                        <i class="icon-copy dw dw-suitcase"></i>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                    <div class="card-box height-100-p widget-style3">
                        <div class="d-flex flex-wrap">
                            <div class="widget-data">
                                <div class="weight-700 font-24 text-dark">{{ managers_count }}</div>
                                <div class="font-14 text-secondary weight-500">
                                    <a href="{% url 'management:admin-submit-task' %}">Завершит задачи</a>
                                </div>
                            </div>
                            <div class="widget-icon">
                                <div class="icon" data-color="#00eccf">
                                    <a class="text-warning" href="{% url 'management:admin-submit-task' %}">
                                        <i class="icon-copy dw dw-email"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                    <div class="card-box height-100-p widget-style3">
                        <div class="d-flex flex-wrap">
                            <div class="widget-data">
                                <div class="weight-700 font-24 text-dark">{{ project_count }}</div>
                                <div class="font-14 text-secondary weight-500">
                                    <a href="{% url 'admin:authentication_registrationrequest_changelist' %}">Принять в
                                        систему</a>
                                </div>
                            </div>
                            <div class="widget-icon">
                                <div class="icon" data-color="#00eccf">
                                    <a class="text-warning"
                                       href="{% url 'admin:authentication_registrationrequest_changelist' %}">
                                        <i class="icon-copy dw dw-key"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                    <div class="card-box height-100-p widget-style3">
                        <div class="d-flex flex-wrap">
                            <div class="widget-data">
                                <div class="weight-700 font-24 text-dark">{{ managers_count }}</div>
                                <div class="font-14 text-secondary weight-500">
                                    <a href="#">Фидбэки</a>
                                </div>
                            </div>
                            <div class="widget-icon">
                                <div class="icon" data-color="#00eccf">
                                    <a href="" class="text-warning"> <i class="icon-copy dw dw-edit-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                    <div class="card-box height-100-p widget-style3">
                        <div class="d-flex flex-wrap">
                            <div class="widget-data">
                                <div class="weight-700 font-24 text-dark">
                                    {% if employee_count %}{{ employees_count }}{% else %}{% endif %}</div>
                                <div class="font-14 text-secondary weight-500">

                                    <a href="{% url 'admin:management_project_changelist' %}">Проекты</a>

                                </div>
                            </div>
                            <div class="widget-icon">
                                <div class="icon" data-color="#00eccf">
                                    <a class="text-warning" href="{% url 'admin:management_project_changelist' %}"><i
                                            class="icon-copy dw dw-folder-5"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                    <div class="card-box height-100-p widget-style3">
                        <div class="d-flex flex-wrap">
                            <div class="widget-data">
                                <div class="weight-700 font-24 text-dark">
                                    {% if managers_count %}{{ managers_count }}{% else %}{% endif %}</div>
                                <div class="font-14 text-secondary weight-500">
                                    <a href="{% url 'admin:management_task_changelist' %}"> Задачи </a>
                                </div>
                            </div>
                            <div class="widget-icon">
                                <div class="icon" data-color="#00eccf">
                                    <a class="text-warning" href="{% url 'admin:management_task_changelist' %}">
                                       <i class="icon-copy dw dw-add-file-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            {#            <div class="title pb-20 pt-20">#}
            {#                <h2 class="h3 mb-0">Доска запросов для завершения проектов</h2>#}
            {#            </div>#}

            {% include 'management/admin/includes/admin-manage-forms.html' %}

            {#            {% include 'management/includes/graphics.html' %}#}
            {#            {% include 'management/includes/admin-table.html' %}#}
            {#            {% include 'management/includes/top.html' %}#}


            <div class="footer-wrap pd-20 mb-20 card-box">
                Квалификационная работа
                Система управления задачами
                - сайт, созданный под руководством Устода Солиева Одилхуджы и Худойбердиева Хуршеда.
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'vendors/scripts/core.js' %}"></script>
    <script src="{% static 'vendors/scripts/script.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/process.js' %}"></script>
    <script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
    <script src="{% static 'src/plugins/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'vendors/scripts/dashboard3.js' %}"></script>
{% endblock %}